{% extends "browser/base.html" %}

{% load static %}

{% load widget_tweaks %} <!--Biblioteca django-->


<title>Index</title>

  <!--Resultado de la busqueda-->
  {% block content %}
    <section>
      <div class="container" id="cards">
        {% if query %}  <!--Si existe resultado en la busqueda-->
          <div class="container">
            <h5>Date:&nbsp;{{query.date}}</h5>
          </div>

          <div class="container">
            <h4 class="col-md-12">{{query.title}}</h4>
            <img src="{{query.url}}"  class="col-md-10 float-md-start mb-1 ms-md-3" alt="{{query.title}}">
          </div>

          <div class="container">
            <p class="col-md-12">
              {{query.explanation}}
            </p>
          </div>

          <div class="container">
            <h6>Autor(es)</h6>
          </div>

          <div class="container">
            <cite>{{query.copyright}}</cite>
          </div>

        {% else %} <!--Si el resultado de la busqueda es fallido-->
          <div class="container">
            <h4 class="col-md-12">No result in the search</h4>
          </div>
         
        {% endif %}  <!--Finaliza el ciclo de resultado-->
      </div>
    </section>
  {% endblock %}
