
body{
    background: linear-gradient(rgba(14, 6, 4, 0.58), rgba(14, 6, 4, 0.58)), url("../img/fondo.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

main{
    padding-top: 14px;
}

section{
    width: 100%;
}

#logo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 3.0rem;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(252, 252, 252);
    text-align: center;
    padding-top: 6px;
    padding-bottom: 3px;
}

a{
    text-decoration: none;
}

a:link{
    color:  rgb(252, 252, 252);
}

a:visited{
    color: rgb(252, 252, 252);
}

a:hover{
    color:rgb(7, 223, 238);
}

#slogan{
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    font-style: italic;
    font-size: 1.2rem;
    text-align: center;
    color: rgb(252, 252, 252);
    padding-top: 3px;
    padding-bottom: 7px;

}

#browser{
    border: 1px solid #fff;
    border-radius: 10px;
    backdrop-filter: blur(3px);
    width: 400px;
    height: 70px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 1.1em;
    color:rgb(252, 252, 252);
    align-content: center;
}


.label{
    margin-right: 4px;
    margin-left: 5px;
}

.date{
    width: 200px;
    height: 35px;
    padding-left: 5px;
}

.btn{
    margin-left: 6px;
}

#cards{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#cards h4{
    display: flex;
    justify-content: center;
    font-weight: bold;
    color:rgb(252, 252, 252);
    font-size: 1.5rem;
    padding-top: 16px;
    padding-bottom: 12px;
}

#cards h5{
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    color:rgb(7, 223, 238);
    padding-top: 14px;
    padding-bottom: 2px;
}

#cards img{
    display: flex;
    float: inline-start;
    padding-right: 12px;
    width: 430px;
    height: 315px;
}

#cards p{
    text-align: justify;
    color:rgb(252, 252, 252);
}

#cards h6{
    text-align:end;
    color:rgb(252, 252, 252);
    padding-top: 10px;
}

#cards cite{
    display: flex;
    justify-content: end;
    color:rgb(252, 252, 252);
}

#logonasa{
    justify-items: center;
    width: 93px; 
    height: 70px;
}

footer{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(252, 252, 252);
    font-size:1.0rem;
    padding: 15px 15px;
}

@media(max-width:768px){
    #logo{
        font-size: 2.2rem;
    }

    #slogan{
        font-size: 0.98rem;
    }

    #browser{
        width: 355px;
        height: 70px;
        font-size: 0.85rem;
    }

    .label{
        margin-left: 2px;
    }
    
    .date{
        width: 180px;
        height: 35px;
        padding-left: 3px;
    }
    
    .btn{
        margin-left: 1px;
    }
    


    #cards h4{
        text-align: center;
        font-size: 1.0rem;
        padding-top: 14px;
    }

    #cards img{
        float: none;
        justify-self: center;
        width: 330px;
        height: 215px;
        padding-bottom: 6px;
    }

    #cards p{
        font-size: 0.90rem;
        text-align: justify;
    }

    #cards h6{
        text-align:center;
        font-size: 0.90rem;
    }
    
    #cards cite{
        justify-content:center;
        font-size: 0.90rem;
    }

    #logonasa{
        width: 70px;
        height: 50px;
    }
    
    footer{
        font-size:0.80rem;
    }

}







